[submodule ".config/nvim/pack/minpac/opt/minpac"]
	path = .config/nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule ".config/nvim/pack/minpac/start/gruvbox"]
	path = .config/nvim/pack/minpac/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".config/nvim/pack/minpac/start/ale"]
	path = .config/nvim/pack/minpac/start/ale
	url = https://github.com/w0rp/ale.git
